<span id="<%= icon_id %>" style="width:50px;height:40px;text-align:center;">
  <a href="javascript:void(0)" onclick="Element.hide('<%= homepage_id %>');Element.show('<%= action_str %>');" style="text-decoration:none;text-align:center;">
    <img src="<%= img_url %>" style="width:40px;height:40px;border:none;margin:3px 0px 0px 8px;">
    <p style="line-height:10px;margin:2px 0px 2px 0px;"><%= icon_txt %></p>
  </a>
</span>
