<p>
  <b>Name:</b>
  <%=h @worldcup2011.name %>
</p>

<p>
  <b>On:</b>
  <%=h @worldcup2011.on %>
</p>

<p>
  <b>Comment:</b>
  <%=h @worldcup2011.comment %>
</p>


<%= link_to 'Edit', edit_worldcup2011_path(@worldcup2011) %> |
<%= link_to 'Back', worldcup2011_path %>
