<h1>Editing mnl_online</h1>

<%= error_messages_for :mnl_online %>

<% form_for(@mnl_online) do |f| %>
  <p>
    <b>Code</b><br />
    <%= f.text_field :code %>
  </p>

  <p>
    <b>Detail</b><br />
    <%= f.text_field :detail %>
  </p>

  <p>
    <b>Mode</b><br />
    <%= f.text_field :mode %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @mnl_online %> |
<%= link_to 'Back', mnl_onlines_path %>
