<p>
  <b>Code:</b>
  <%=h @mnl_online.code %>
</p>

<p>
  <b>Detail:</b>
  <%=h @mnl_online.detail %>
</p>

<p>
  <b>Mode:</b>
  <%=h @mnl_online.mode %>
</p>


<%= link_to 'Edit', edit_mnl_online_path(@mnl_online) %> |
<%= link_to 'Back', mnl_onlines_path %>
