<table style="width:100%">
  <tr>
    <td style="padding:0px 10px;vertical-align:top;">
      <a class="pull-right" href="<%= root_path %>">Back to <b>Free Mobile Downloads</b> Home</a>
      <h1><%= ((!@cat.nil?)? @cat.name : 'New Mobile Articles')%></h1>
      <div class="sp5"></div>
      <div class="b-top-right">
      <% @articles.each do |article| %>
          <h4><%= link_to article.title, show_article_url(article.title.tr(" ","_")) %></h4>
          <table style="width:100%;">
            <tr>
              <td style="border-right:1px solid #e0e0e0;">
                <%= simple_format(article.synopsis) %>
                <div class="sp5"></div>
                <a href="<%= show_article_url(article.title.tr(" ","_")) %>" class="btn btn-success">Read More</a>
              </td>
              <td style="width:200px;padding:0px 10px;">
                <span class="tiny3">
                  Submitted by: <%= link_to article.user.firstname, show_user_url(article.user.username) %>
                  <%#= article.created_at.to_formatted_s(:short) %>
                  <div class="sp2"></div>
                  Category: <%= link_to article.category.name, article_cat_url(article.category.name.tr(" ","_")) %>
                </span>
              </td>
            </tr>
          </table>
          <div class="sp10"></div>
          <div class="sp1-gr"></div>
          <% end %>
          <center><%= will_paginate @articles %></center>
      </div>
    </td>
    <td style="width:300px;vertical-align:top;">
      <%= render(:partial => "ads/ga_300x250") %>
      <div class="sp5"></div>
      <div class="sp1-gr"></div>
      <h4 style="margin:5px 10px;">Article Category</h4>
      <ul>
        <% for category in @category %>
        <li><%= link_to category.name, article_cat_url(category.name.tr(" ","_")) %></li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>
<div class="sp100"></div>

















































<% if(false) %>
<div class="download_section">
<div id="download_section_top">KillerMobi Articles</div>
<% content_for :head do %>
<%= auto_discovery_link_tag %>
<% end %>
<h1>Categories</h1>

<h5>
<% for category in @category %>
 | <%= link_to category.name, article_cat_url(category.name.tr(" ","_")) %> |
 <% end %>
</h5>

<!--<h4><%#= link_to 'All Articles', articles_url %></h4> -->
<br>
<div id="link_ads_on_top">
<script type="text/javascript"><!--
google_ad_client = "pub-3833946424381349";
/* 468x15, created 12/3/10 */
google_ad_slot = "8885314131";
google_ad_width = 468;
google_ad_height = 15;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>

<% if(false) %>
   <div class="download_title">
    </div>
    <div class="show_download_comments_add">
    <h4>Find Mobile Articles by <b>Tags</b></h4>
    <p>
    <%= render :partial => "show_tags" %>
    </p>
    </div>
<% end %>

<% if is_logged_in? and logged_in_user.has_role?('Editor') -%>
<br>
<%= link_to 'Submit Article to review', article_rev_url %>
<br>
<% end %>


<% @articles.each do |article| %>
<div class="download_title">
<h3><%= article.title %></h3>
</div>
<div class="show_download_comments_add">
<% if article.category %>
<p class="category">
<div class="pwrd_by">Category: <%= link_to article.category.name, article_cat_url(article.category.name.tr(" ","_")) %></div>
</p>
<% end %>
<p>
<b>Submitted by <%= link_to article.user.firstname, show_user_url(article.user.username) %> <%#= article.created_at.to_s(:short) %></b><br />
<%=  simple_format(article.synopsis) %><br />
<div class="button_01_r"><%= link_to 'Read More', show_article_url(article.title.tr(" ","_")) %></div>
</p>
</div>
<% end %>

</div>
<% end %>
